/* variables */
$primary-red-color: hsl(0, 100%, 74%);
$primary-green-color: hsl(154, 59%, 51%);
$accent-blue-color: hsl(248, 32%, 49%);
$neutral-dark-blue-color: hsl(249, 10%, 26%);
$neutral-grayish-blue-color: hsl(246, 25%, 77%);

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */
body {
    background-color: $primary-red-color; 
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
}

.form-part {
    p:first-child {
        background-color: $accent-blue-color;
        border-radius: 10px;
        padding: 20px 70px;
        margin-bottom: 20px;
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    
    .form-control {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        i {
            display: none;
        }

        .icon-show {
            display: inline-block;
            position: absolute;
            top: 15px;
            color: $primary-red-color;
            font-size: 1.3rem;
            left: 90%;
        }
    }

    input {
        width: 100%;
        color: $neutral-dark-blue-color;
        padding: 15px;
        border: 1px solid $neutral-grayish-blue-color;
        outline: none;
        border-radius: 5px;
        font-weight: 600;
    }

    input:focus {
        border: 1px solid $neutral-dark-blue-color;
    }

    .error {
        text-align: right;
        font-style: italic;
        color: $primary-red-color;
        font-size: 0.7rem;
    }

    .warning {
        border: 1px solid $primary-red-color;
        color: $primary-red-color;
    }

    button {
        background-color: $primary-green-color;
        color: white;
        font-weight: 600;
        letter-spacing: 1.5px;
        border: 2px solid hsl(154, 59%, 44%);
        box-shadow: 0px 4px 0px 0px hsla(154, 59%, 44%, 0.5);
        border-radius: 5px;
        padding: 15px;
        text-transform: uppercase;
    }

    #footnote {
        color: $neutral-grayish-blue-color;
        margin-top: 15px;
        padding: 0 15px;
        text-align: center;
        font-size: 0.7rem;

        span {
            color: $primary-red-color;
            font-weight: 700;
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

/* fonts */ 
body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.form-part {
    p:first-child {
        font-weight: 400;
        text-align: center;
        
        span {
            font-weight: 600;
        }
    }
}

/* mobile styles */

body {
    background-image: url(../images/bg-intro-mobile.png);
}

.description {
    margin: 90px 0 70px 0;
    width: 85%;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    p {
        font-weight: 500;
    }
}

.form-part {
    width: 85%;
    
    form {
        margin-bottom: 60px;
        padding: 30px 20px;
    }
}

/* desktop styles */ 
@media screen and (min-width: 1400px) {
    body {
        background-image: url(/images/bg-intro-desktop.png);
    }

    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .description {
        width: 35%;        
        text-align: left;

        h1 {
            font-size: 3rem;
        }
    }

    .form-part {
        width: 35%;

        form {
            padding: 45px 40px;
            margin-bottom: 0;

            #first-name {
                margin-top: 0;
            }
        }
    }
}