/* variables */
$primary-red-color: hsl(0, 100%, 74%);
$primary-green-color: hsl(154, 59%, 51%);
$accent-blue-color: hsl(248, 32%, 49%);
$neutral-dark-blue-color: hsl(249, 10%, 26%);
$neutral-grayish-blue-color: hsl(246, 25%, 77%);

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* base styles */
body {
    background-color: $primary-red-color; 
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
}

.form-part {
    p:first-child {
        background-color: $accent-blue-color;
        border-radius: 10px;
        padding: 20px 70px;
        margin-bottom: 20px;
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 25px;
    border-radius: 10px;

    input {
        color: $neutral-dark-blue-color;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid $neutral-grayish-blue-color;
        outline: none;
        border-radius: 5px;
        font-weight: 600;
    }

    input:focus {
        border: 1px solid $neutral-dark-blue-color;
    }

    button {
        background-color: $primary-green-color;
        color: white;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 5px;
        padding: 15px;
        text-transform: uppercase;
    }

    #footnote {
        color: $neutral-grayish-blue-color;
        margin-top: 15px;
        padding: 0 15px;
        text-align: center;
        font-size: 0.7rem;

        span {
            color: $primary-red-color;
            font-weight: 700;
        }
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
}

/* fonts */ 
body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.form-part {
    p:first-child {
        font-weight: 400;
        text-align: center;
        
        span {
            font-weight: 600;
        }
    }
}

/* mobile styles */

body {
    background-image: url(../images/bg-intro-mobile.png);
}

.description {
    margin: 90px 0 40px 0;
    width: 85%;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    p {
        font-weight: 500;
    }
}

.form-part {
    width: 85%;
}

/* small tablet styles */ 
@media screen and (min-width: 620px) {

}

/* large tablet & laptop styles */ 
@media screen and (min-width: 960px) {
    
}

/* desktop styles */ 
@media screen and (min-width: 1200px) {
    
}