/* variables */
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* base styles */
body {
  background-color: #ff7a7a;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-part p:first-child {
  background-color: #6055a5;
  border-radius: 10px;
  padding: 20px 70px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
}

form .form-control {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

form .form-control i {
  display: none;
}

form .form-control .icon-show {
  display: inline-block;
  position: absolute;
  top: 15px;
  color: #ff7a7a;
  font-size: 1.3rem;
  left: 90%;
}

form input {
  width: 100%;
  color: #3e3c49;
  padding: 15px;
  border: 1px solid #b9b6d3;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
}

form input:focus {
  border: 1px solid #3e3c49;
}

form .error {
  text-align: right;
  font-style: italic;
  color: #ff7a7a;
  font-size: 0.7rem;
}

form .warning {
  border: 1px solid #ff7a7a;
  color: #ff7a7a;
}

form button {
  background-color: #38cc8c;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 2px solid #2eb279;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(46, 178, 121, 0.5);
          box-shadow: 0px 4px 0px 0px rgba(46, 178, 121, 0.5);
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
}

form #footnote {
  color: #b9b6d3;
  margin-top: 15px;
  padding: 0 15px;
  text-align: center;
  font-size: 0.7rem;
}

form #footnote span {
  color: #ff7a7a;
  font-weight: 700;
}

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* fonts */
body {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.form-part p:first-child {
  font-weight: 400;
  text-align: center;
}

.form-part p:first-child span {
  font-weight: 600;
}

/* mobile styles */
body {
  background-image: url(../images/bg-intro-mobile.png);
}

.description {
  margin: 90px 0 70px 0;
  width: 85%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.description h1 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 25px;
}

.description p {
  font-weight: 500;
}

.form-part {
  width: 85%;
}

.form-part form {
  margin-bottom: 60px;
  padding: 30px 20px;
}

/* desktop styles */
@media screen and (min-width: 1400px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .description {
    width: 35%;
    text-align: left;
  }
  .description h1 {
    font-size: 3rem;
  }
  .form-part {
    width: 35%;
  }
  .form-part form {
    padding: 45px 40px;
    margin-bottom: 0;
  }
  .form-part form #first-name {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */