* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: -50% -470px, 170% 430px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

.container {
    display: flex;
    height: 375px;
    flex-direction: column;
}


/* -------------------- UPPER PART -------------- */
#upper-part {
    display: grid;
    width: 330px;
    height: 280px;
    background-image: url("../images/bg-pattern-card.svg");
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-color: white;
    align-items: center;
    justify-items: center;
    grid-template: 
        "a" 1fr
        "img" 1fr
        "img" 1fr
        "details" 1fr;
}

#upper-part .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: details;
}

.details #name {
    font-weight: 700;
    margin-bottom: 10px;
}

.details #age, #city {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.details #city {
    font-size: 0.8rem;
}

#upper-part img {
    grid-area: img;
    border-radius: 50%;
    border: 5px solid white;
}

/* -------------------- LOWER PART -------------- */

#lower-part {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    height: 90px;
    text-align: center;
}

.attribution {
    position: fixed;
    bottom: 0;
}

.amount {
    font-weight: 700;
    margin-bottom: 5px;
}

.amount-name {
    font-size: 0.6rem;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1px;
}