/* variables */
/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base styles */
body {
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: #858fad;
  font-size: 15px;
}

header {
  text-align: center;
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  color: #293356;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
}

input[type=range] {
  width: 80%;
  margin: 9px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(234, 238, 251, 0.8);
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -9px;
  width: 26px;
  height: 26px;
  background: #10d5c2;
  border: 1.8px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  background: rgba(234, 238, 251, 0.8);
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 11px;
  border: 1.8px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.4px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #d5ddf7;
  border: 0;
  border-radius: 20px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(234, 238, 251, 0.8);
  border: 0;
  border-radius: 20px;
}

input[type=range]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #10d5c2;
  border: 1.8px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(234, 238, 251, 0.8);
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 23px;
  /* The slider */
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch span.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + span.slider {
  background-color: #10d5c2;
}

.switch input:focus + span.slider {
  -webkit-box-shadow: 0 0 1px #10d5c2;
          box-shadow: 0 0 1px #10d5c2;
}

.switch input:checked + span.slider:before {
  -webkit-transform: translateX(15px);
  transform: translateX(20px);
}

.switch span.slider.round {
  border-radius: 34px;
}

.switch span.slider.round:before {
  border-radius: 50%;
}

/* fonts */
body {
  font-family: 'Manrope', sans-serif;
}

/* mobile styles */
.container {
  width: 90%;
  margin: 40px auto;
}

header {
  padding: 40px 0;
}

header h1 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

header p {
  width: 60%;
  margin: auto;
}

form {
  margin: 20px auto;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .page-views {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  font-weight: 800;
  margin: 30px 0;
}

.slider .money-per-month {
  margin-top: 15px;
}

.slider #money-amount {
  color: #293356;
  font-weight: 800;
  font-size: 2rem;
}

.billing {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.billing #percent {
  background-color: #feece7;
  color: #ff8c66;
  border-radius: 25px;
  padding: 3px 10px;
}

.checks {
  border-top: 1px solid #cdd7ee;
  width: 100%;
  padding-top: 20px;
  font-size: 0.8rem;
}

.checks p {
  padding-bottom: 1em;
}

.checks ul {
  list-style: url("../images/icon-check.svg");
  width: 100%;
  text-align: center;
}

.checks ul li {
  margin-top: 10px;
}

button {
  margin: 20px;
  width: 12rem;
  height: 2.7rem;
  border: 0;
  border-radius: 50px;
  background-color: #293356;
  color: #bdccff;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution .attribution a {
  color: #3e52a3;
}

/* small tablet styles */
/* large tablet & laptop styles */
/* desktop styles */
/*# sourceMappingURL=style.css.map */