/* variables */ 
$soft-cyan-color: hsl(174, 77%, 80%);
$strong-cyan-color: hsl(174, 86%, 45%);
$light-grayish-red-color: hsl(14, 92%, 95%);
$light-red-color:  hsl(15, 100%, 70%);
$pale-blue-color: hsl(226, 100%, 87%);
$white-color: hsl(0, 0%, 100%);
$very-pale-blue-color: hsl(230, 100%, 99%);
$light-grayish-blue-color: hsl(224, 65%, 95%);
$light-grayish-blue-color: hsl(223, 50%, 87%);
$grayish-blue-color: hsl(225, 20%, 60%);
$dark-desaturated-blue-color: hsl(227, 35%, 25%);

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* base styles */ 
body {
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: $grayish-blue-color;
    font-size: 15px;
}

header {
    text-align: center;
    background-image: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        color: $dark-desaturated-blue-color;
    }
}

form {
    background-color: $white-color;
}

/* toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 23px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    
    /* The slider */
    span.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $light-grayish-blue-color;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    span.slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + span.slider {
        background-color: $strong-cyan-color;
    }
    
    input:focus + span.slider {
        box-shadow: 0 0 1px $strong-cyan-color;
    }
    
    input:checked + span.slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(20px);
    }
    
    /* Rounded sliders */
    span.slider.round {
        border-radius: 34px;
    }
    
    span.slider.round:before {
        border-radius: 50%;
    }
}

/* fonts */ 
body {
    font-family: 'Manrope', sans-serif;
} 

/* mobile styles */
.container {
    width: 90%;
    margin: 40px auto;
}

header {
    padding: 40px 0;

    h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    p {
        width: 60%;
        margin: auto;
    }
}

form {
    margin: 20px 0;

    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-views {
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-size: 0.8rem;
            font-weight: 800;
            margin-bottom: 20px;
        }

        input[type=range] {
            width: 90%;
            -webkit-appearance: none;
        }

        #money-amount {
            color: $dark-desaturated-blue-color;
            font-weight: 800;
            font-size: 2rem;
        }
    }

    .billing {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
    }

    .checks {
        border-top: 1px solid $light-grayish-blue-color;
        width: 100%;
        padding-top: 20px;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        p {
            padding-bottom: 1em;
        }
    }
}

/* small tablet styles */ 
@media screen and (min-width: 620px) {

}

/* large tablet & laptop styles */ 
@media screen and (min-width: 960px) {
    
}

/* desktop styles */ 
@media screen and (min-width: 1200px) {
    
}